
{% extends 'base.html.twig' %}

{% block title %} Agence Immo {% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Agence Immo</h1>
        <p>Lorem ipsum truc machin</p>
    </div>

    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flew">
        {% for property in properties %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">{{ property.title }}</a>
                        </h5>
                        <p class="card-text">{{ property.city }} ({{ property.city }})</p>
                        <div class="text-primary">{{ property.price | number_format(0, '', ' ') }}€</div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>


{% endblock %}