
{% extends 'base.html.twig' %}

{% block title %} Agence Immo {% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Agence Immo</h1>
        <p>Lorem ipsum truc machin</p>
    </div>

    <div class="container">
        
    </div>


{% endblock %}